/********************************************************/


/* General Blueprint Style */

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
    font-family: 'bpicons';
    src: url('../fonts/bpicons/bpicons.eot');
    src: url('../fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'), url('../fonts/bpicons/bpicons.woff') format('woff'), url('../fonts/bpicons/bpicons.ttf') format('truetype'), url('../fonts/bpicons/bpicons.svg#bpicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.dlogo{width: 40px;height: 40px}

/* Made with http://icomoon.io/ */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    font-size: 100%;
    padding: 0;
    margin: 0;
}


/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #47a3da;
}

a {
    text-decoration: none;
}

a:hover {
    color: #000;
}

.container {
    position: relative;
    width:100%;
    margin: 0;
    padding: 0;
}

.container > header,
.main section > div {
    width: 90%;
    max-width: 69em;
    margin: 0 auto;
    padding: 2.875em 1.875em 1.875em;
    text-align: center;
}

.container > header h1 {
    font-size: 2.125em;
    line-height: 1.3;
    margin: 0 0 0.6em 0;
    float: left;
    font-weight: 400;
    width: 100%;
}

.container > header > span {
    display: block;
    position: relative;
    z-index: 9999;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    padding: 0 0 0.6em 0.1em;
}

.container > header > span span:after {
    width: 30px;
    height: 30px;
    left: -12px;
    font-size: 50%;
    top: -8px;
    font-size: 75%;
    position: relative;
}

.container > header > span span:hover:before {
    content: attr(data-content);
    text-transform: none;
    text-indent: 0;
    letter-spacing: 0;
    font-weight: 300;
    font-size: 110%;
    padding: 0.8em 1em;
    line-height: 1.2;
    text-align: left;
    left: auto;
    margin-left: 4px;
    position: absolute;
    color: #fff;
    background: #47a3da;
}

.container > header nav {
    float: right;
    text-align: center;
}

.container > header nav a {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 2.5em;
    height: 2.5em;
    background: #fff;
    border-radius: 50%;
    margin: 0 0.1em;
    border: 4px solid #47a3da;
}

.container > header nav a > span {
    display: none;
}

.container > header nav a:hover:before {
    content: attr(data-info);
    color: #47a3da;
    position: absolute;
    width: 600%;
    top: 120%;
    text-align: right;
    right: 0;
    pointer-events: none;
}

.container > header nav a:hover {
    background: #47a3da;
}

.bp-icon:after {
    font-family: 'bpicons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
    color: #47a3da;
    -webkit-font-smoothing: antialiased;
}

.container > header nav .bp-icon:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 2;
    text-indent: 0;
}

.container > header nav a:hover:after {
    color: #fff;
}

.bp-icon-next:after {
    content: "\e000";
}

.bp-icon-drop:after {
    content: "\e001";
}

.bp-icon-archive:after {
    content: "\e002";
}

.bp-icon-about:after {
    content: "\e003";
}

.bp-icon-prev:after {
    content: "\e004";
}

.main > section:nth-child(even) {
    background: #87cef8;
    color: #fff;
}

.main section:first-child > div {
    padding-top: 0em;
}

.main section p {
    margin: 0;
    padding: 1em 0;
    font-size: 1.8em;
    line-height: 1.5;
}

@media screen and (max-width: 55em) {
    .container > header h1,
    .container > header nav {
        float: none;
    }
    .container > header > span,
    .container > header h1 {
        text-align: center;
    }
    .container > header nav {
        margin: 0 auto;
    }
    .container > header > span {
        text-indent: 30px;
    }
    .main section p {
        padding: 2em 5%;
        font-size: 1.4em;
    }
    .dlogo{width: 25px;height: 25px}
}


/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */


/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 25px;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.cbp-af-header {
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(9, 114, 118, 1);
    z-index: 10000;
    height: 100px;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
}

.cbp-af-header .cbp-af-inner {
    padding: 0 1em;
    margin: 0 auto;
}

.cbp-af-header h1,
.cbp-af-header nav {
    display: inline-block;
    position: relative;
}


/* We just have one-lined elements, so we'll center the elements with the line-height set to the height of the header */

.cbp-af-header h1,
.cbp-af-header nav a {
    line-height: 100px;
}

.cbp-af-header h1 {
    /*text-transform: uppercase;*/
    color: #fff;
    letter-spacing: 4px;
    font-size: 2em;
    margin: 0;
    float: left;
}

.cbp-af-header nav {
    float: right;
}

.cbp-af-header nav a {
    color: #E4E4E4;
    font-weight: 700;
    margin: 0 0 0 20px;
    font-size: 1.4em;
}

.cbp-af-header nav a:hover {
    color: #25E7D7;
}


/* Transitions and class for reduced height */

.cbp-af-header h1,
.cbp-af-header nav a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.cbp-af-header.cbp-af-header-shrink {
    height: 90px;
}

.cbp-af-header.cbp-af-header-shrink h1,
.cbp-af-header.cbp-af-header-shrink nav a {
    line-height: 90px;
}

.cbp-af-header.cbp-af-header-shrink h1 {
    font-size: 2em;
}


/* Example Media Queries */

@media screen and (max-width: 55em) {
    .cbp-af-header .cbp-af-inner {
        width: 100%;
    }
    .cbp-af-header h1,
    .cbp-af-header nav {
        display: block;
        margin: 0 auto;
        text-align: center;
        float: none;
    }
    .cbp-af-header h1,
    .cbp-af-header nav a {
        line-height: 50px;
        font-size: 1.5em
    }
    .cbp-af-header nav a {
        margin: 0 10px;
    }
    .cbp-af-header.cbp-af-header-shrink h1,
    .cbp-af-header.cbp-af-header-shrink nav a {
        line-height: 45px;
    }
    .cbp-af-header.cbp-af-header-shrink h1 {
        font-size: 2em;
    }
    .cbp-af-header.cbp-af-header-shrink nav a {
        font-size: 1em;
    }
}

@media screen and (max-width: 32.25em) {
    .cbp-af-header nav a {
        font-size: 1em;
    }
    .cbp-af-header h1 {
        font-size: 1.2em
    }
    .dlogo{width: 20px;height: 20px}
}

@media screen and (max-width: 24em) {
    .cbp-af-header nav a,
    .cbp-af-header.cbp-af-header-shrink nav a {
        line-height: 1;
    }
    .cbp-af-header h1 {
        font-size: 0.9em
    }
    .dlogo{width: 22px;height: 22px}
}

.navIcon {
    background: url('../i/top-tray3.png') no-repeat;
    background-position: -288px -7px;
    width: 18px;
    height: 15px;
    border: 0;
    display: inline-block;
    position: fixed;
    left: 5px;
}

.txtCntr {
    text-align: center;
}

.col-lg-6 {
    box-shadow: 0px 0px 8px #DDD9D9;
    padding: 10px 20px 20px 20px;
    margin-top: 30px;
    margin: 0 auto;
    display: none;
    float: none;
    min-height: 500px
}
.col-lg-5 {
    box-shadow: 0px 0px 8px #DDD9D9;
    padding: 10px 20px 20px 20px;
    margin-top: 30px;
    margin: 0 auto;
    display: none;
    margin:20px;
    min-height: 500px
}

.col-lg-6 h3 {
    margin: 30px 0 10px 0
}

.container-fluid {
    padding-left: 25px
}

.clr {
    clear: both;
    height: 1px;
}

.w50prc {
    width: 48%;
    display: inline-block;
    vertical-align: middle;
}

.mt10 {
    margin-top: 10px
}

.mb10 {
    margin-bottom: 10px
}

.ofHd {
    overflow: hidden
}

ul {
    padding: 0
}
footer{margin-top: 30px; text-align: center; color: #333}